/*contact form styles sheet*/
body{
	background-color: rgba(139, 46, 160, 0.3);
	background-image: url("images/jumbotron_background2.png");
}
.container{
	display: block;
	margin: 2em auto;
	padding: 2em;
	background-color: #d295e2;
	font-family: 'Noto Sans JP';
}
.form-group{
	font-weight: bold;
}
#logo{
	display: block;
	margin: auto;
}
h3{
	font-weight: bold;
	margin-bottom: 1em;
}
p{
	margin-bottom: 1em;
}
hr{
	margin-top: 3em;
	margin-bottom: 1em;
	border-width: 3px;
	border-color: #f1d4f7;
}
#intro-liner{
	margin-top: -1em;
	border-width: 2px;
	padding-bottom: .1em;
	border-bottom: 2px solid rgba(241, 212, 247, .7);
	border-color: rgba(241, 212, 247, .7);
}
.main-content{
	display: block;
	width: 80%;
	margin: 1.5em auto;
	padding: 1em;
	background-color: #d295e2;
	font-family: 'Noto Sans JP';
	font-size: 1.25em;
	padding-bottom: 10em;
}
.row img{
	border-radius: 5px;
	border: 6px solid #8b2ea0;
	display: block;
	margin: 0em auto 1em auto;
}
.related{
	font-size: 1.5em;
	font-family: 'Josefin Sans';
	background-color: #f1d4f7;
	padding: .25em .5em;
	border-radius: 10px;
	color: #15a826;
}
#articles p{
	background-color: rgba(241, 212, 247, .5);
	padding: 1em;
}
ul li{
	margin-bottom: .5em;
}

/*jumbotron*/
.jumbotron{
	text-align: center;
	margin-top: 0.5em;
	background-color: #8b2ea0;
	color: white;
	background-image: url("images/jumbotron_background.png");
}
h1{
	font-family: 'Gloria Hallelujah';
	background-color: rgba(210, 149, 226, .7);
	padding-bottom: .25em;
	
}
#top_banner{
	font-size: 2em;
	margin-right: 2em;
}
h2{
	margin-top: .35em;
	padding-left: 5.7em;
	font-family: 'Josefin Sans';
}

/*navbar*/
.bg-light{
	background-color: #f1d4f7 !important;
}
.navbar-nav{
	font-size: 1.25em !important;
}
.navbar-nav > li{
	padding-left: .5em;
	padding-right: .5em;
}

/*footer*/
footer{
	padding: 3em 0em;
	text-align: center;
	color: white;
	background-color: #8b2ea0;
}